{% import "macros_google.html" as google %}
<!doctype html>
<html>
<head>
    <title>{{ site.title }}{% if page.title %}&mdash; {{ page.title }}{% endif %}</title>
    <meta name="description" content="BOLT80, the digital portfolio of Ludovic Chabant" />
    <meta name="keywords" content="bolt80, portfolio, ludovic, chabant" />
    {{ google.webfonts('Droid+Sans|Nobile|Molengo|Cantarell|Inconsolata') }}
    <link rel="stylesheet/less" href="{{ site.root }}styles/screen.less" type="text/css" media="screen, projection" />
    {% include "less.html" %}
</head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1><a href="{{ site.root }}">BOLT80</a></h1>
            </div>
            <div id="after-header"></div>
            {#<div id="menu" class="horizontal-menu">
                <ul>
                    <li><a href="{{ pcurl('coding') }}">Coding</a></li>
                    <li><a href="{{ pcurl('photography') }}">Photography</a></li>
                </ul>
            </div>#}
            <div id="after-menu"></div>
            {% if secondarymenu %}
            <div id="secondary-menu" class="horizontal-menu">
                {{ secondarymenu|raw }}
            </div>
            <div id="after-secondary-menu"></div>
            {% endif %}
            <div id="content">
                {{ content|raw }}
            </div>
            <div id="after-content"></div>
        </div>
        <div id="footer">
            <p>Copyright &copy;2010 Ludovic Chabant. All rights reserved.</p>
            <p class="piecrust-branding">{{ piecrust.branding|raw }}</p>
        </div>
        <div id="after-footer"></div>
    </body>
</html>