{% extends "piecrust.html" %}

{% block header %}
<h1 class="site-title">PieCrust</h1>
<div class="slogan">
    {{ slogan|raw }}
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="content-box">
            {{ main|raw }}
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="split">
            {{ split1|raw }}
        </div>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="content-box">
            {{ detail1|raw }}
        </div>
    </div>
    <div class="span6">
        <div class="content-box">
            {{ detail2|raw }}
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="split">
            {{ split2|raw }}
        </div>
    </div>
</div>
<div class="row">
    <div class="span6">
        <div class="content-box">
            {{ detail3|raw }}
        </div>
    </div>
    <div class="span6">
        <div class="content-box">
            {{ detail4|raw }}
        </div>
    </div>
</div>
{% endblock %}
