{% extends "piecrust.html" %}

{% block content %}
<div class="span-22 prepend-1 append-1 last">
    {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
    <div id="page-navigation">
        <div id="page-navigation-inner">
            <h4>Using</h4>
            <ul>
                <li><a href="{{ pcurl('piecrust/code') }}">Running PieCrust</a></li>
            </ul>
            <h4>Contributing</h4>
            <ul>
                <li><a href="{{ pcurl('piecrust/code/get') }}">Getting the full code</a></li>
                <li><a href="{{ pcurl('piecrust/code/formatter') }}">Adding a formatter</a></li>
                <li><a href="{{ pcurl('piecrust/code/template-engine') }}">Adding a template engine</a></li>
                <li><a href="{{ pcurl('piecrust/code/processor') }}">Adding a file processor</a></li>
            </ul>
        </div>
    </div>
    
    {{ content|raw }}
</div>
{% endblock %}