{% import "google.html" as google %}
<!doctype html>
<html>
<head>
    <title>{{site.title}}</title>
    <meta charset="utf-8">
    <meta name="description" content="BOLT80, the digital portfolio of Ludovic Chabant" />
    <meta name="keywords" content="bolt80, portfolio, ludovic, chabant" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ google.webfonts('Cantarell') }}
    <link rel="stylesheet" href="{{site.root}}css/bolt80.css" type="text/css" />
</head>
<body>
    <div id="wrapper">
        <header>
            <h1><a href="{{ site.root }}">{{site.title}}</a></h1>
        </header>
        <nav>
            {{navigation|raw}}
        </nav>
        <footer>
            <p>Copyright &copy;2010 <a href="http://ludovic.chabant.com">Ludovic Chabant</a>.
               All rights reserved.</p>
            <p class="piecrust-branding">{{ piecrust.branding|raw }}</p>
        </footer>
        {% if baker.is_baking %}
        {{ google.analytics("UA-3426592-10") }}
        {% endif %}
        {{ piecrust.debug_info }}
    </div>
</body>
</html>
