{% set minisite_name = 'lawrencium' %}
{% set minisite_repo = 'vim-lawrencium' %}
{% extends "minisite.html" %}

{% block title %}
Lawrencium{% if page.title %} &mdash; {{ page.title }}{% endif %}
{% endblock %}

{% block description %}
Lawrencium: a Mercurial wrapper for Vim
{% endblock %}

{% block header %}
    <div class="periodic-table">
        <div class="element-atomic">103</div>
        <div class="element-acronym">Lr</div>
        <div class="element-name">Lawrencium</div>
    </div>
    <h1>A Mercurial Wrapper For Vim</h1>
{% endblock %}

{% block nav %}
    <li><a href="#overview">Overview</a></li>
    <li><a href="#installation">Installation</a></li>
    <li><a href="#quickstart">Quick Start</a></li>
{% endblock %}

