@background: #333;
@highlight: #FFF;
@light_crust: #F5CD82;
@crust_light: lighten(@crust, 10%);
@crust: #CF931B;
@crust_shade: darken(@crust, 10%);
@dark_crust: #D65F04;
@dark_crust_shade: darken(@dark_crust, 30%);
@cherry: #D42708;
@cherry_shade: darken(@cherry, 20%);
@stripes_light: #2b2b2b;
@stripes_dark: #292929;

html, body {
    height: 100%;
}
body {
    font-family: Georgia, serif;
    font-size: 110%;
    color: @dark_crust_shade;
    background: #333 url('../images/stripes_bg.png');
}
hr {
    margin: 0;
    background: @cherry_shade;
}
acronym {
    font-weight: bold;
    padding: 0.1em;
    border-bottom: 1px dotted @dark_crust_shade;
}
pre {
    padding: 0.5em;
    margin: 0.5em 0.5em 1em 0.5;
    background: @crust;
    overflow: auto;
}
pre.php {
    background: @light_crust;
}
code {
    padding: 0.2em;
    background: @crust;
    font-size: 90%;
}
blockquote {
    color: @dark_crust_shade;
    padding: 0.6em;
    background: @crust;
    overflow: auto;
    
    p { padding: 0; margin: 0; }
}
h2 {
    color: @dark_crust;
    font-family: Lobster, 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.07em;
    margin: 1em 0 0.5em 0;
}
a {
    color: @cherry;
    font-weight: bold;
    text-decoration: none;
    padding: 0.1em 0.2em;
    
    &:link {}
    &:visited { color: @cherry_shade; }
    &:hover { color: @highlight; background: @cherry; }
    &:active {}
}

.raised {
    text-shadow: 0px 2px 5px rgba(0,0,0,0.8);
    
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0.6)), color-stop(0.6, white));
    -moz-mask-image: -moz-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0.6)), color-stop(0.6, white));
    -o-mask-image: -o-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0.6)), color-stop(0.6, white));
    mask-image: gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 0.6)), color-stop(0.6, white));
}
.vignette(@color) {
    background: -webkit-radial-gradient(center top, circle cover, @color, darken(@color, 18%));
    background: -moz-radial-gradient(center top, circle cover, @color, darken(@color, 18%));
    background: -o-radial-gradient(center top, circle cover, @color, darken(@color, 18%));
    background: radial-gradient(center top, circle cover, @color, darken(@color, 18%));
}

#container {
    box-shadow: 0 0 30px #000;
    min-height: 100%;
}

#header {
    background: @dark_crust;
    .vignette(@dark_crust);
    font-size: 1.8em;
    
    h1 {
        .raised;
        
        margin: 0.2em auto;
        font-family: Lobster, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-weight: bold;
        color: #fff;
    }
    
    #slogan h2 {
        color: @dark_crust_shade;
        font-family: Georgia, serif;
        font-size: 1em;
        letter-spacing: 0;
        margin-bottom: 0.75em;
    }
}

.menu {
    background: @stripes_dark;
    border-top: 2px solid lighten(@stripes_dark, 20%);
    
    .menu-inner { overflow: hidden; }
    
    ul {
        margin: 0;
        padding: 0;
        clear: left;
        float: left;
        position: relative;
        left: 50%;
        text-align: center;
    }

    ul li {
        display: block;
        float: left;
        position: relative;
        left: -50%;
        padding-left: 0;
        text-indent: 0;
    }
    ul:after { clear: both; }
    
    a {
        font-size: 110%;
        display: block;
        padding: 1em 2em;
        color: @highlight;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 0 1px 5px #000;
        
        &:link {}
        &:visited { color: darken(@highlight, 20%); }
        &:hover { color: @highlight; background: @cherry; text-shadow: none; }
        &:active {}
    }
}

#content {
    background: @light_crust;
    .vignette(@light_crust);
    
    #content-inner {}
}

#page-navigation {
    float: right;
    border: 1px solid @crust_shade;
    border-radius: 5px;
    background: @crust;
    padding: 1em;
    margin: 0 -1em 1em 1em;
    width: 30%;

    a {
        font-weight: normal;
    }
    a.active {
        font-weight: bold;
    }
}

#footer {
    border-top: 2px solid lighten(@stripes_dark, 20%);
    padding: 10px 0;
    background: @dark_crust;
    .vignette(@dark_crust);

    font-size: 0.8em;
    text-transform: lowercase;
    text-align: center;
    
    p {
        margin: 1em;
    }
    
    a {
        color: @cherry;
        font-weight: bold;
        text-decoration: none;
        padding: 0.1em 0.2em;
        
        &:link {}
        &:visited { color: @cherry_shade; }
        &:hover { color: @highlight; background: @cherry; }
        &:active {}
    }
}

.split {
    text-align: center;
}

.content-box {
    margin: 30px;
}
.content-box-detail {
}

ol.tutorial {
    font-family: Lobster, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    line-height: 0.375em;
}
ol.tutorial li {
    margin: 1em 0;
}
ol.tutorial li p {
    font-family: Georgia, serif;
    font-size: 0.25em;
}
ol.tutorial li pre {
    font-size: 0.25em;
}
